/* ---- TOP BAR ---- */
.topbar {
    background: var(--base-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: var(--Avenir-regular);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.topBar_link_btn .topBar_icon {
    font-size: 2rem;
}


.topbar-links {
    width: 100%;
}

.topbar-links a {
    color: var(--white-color);
    text-decoration: none;
    transition: 0.5s all ease;
}

.topbar-links a:hover {
    opacity: 0.85;
}